#MONGODB_URI=mongodb+srv://erikborge:ufzbn0saBgYIkgF8@husjakten-cluster.dukb7.mongodb.net/?retryWrites=true&w=majority&appName=husjakten-cluster
MONGODB_URI=mongodb_uri
MONGODB_DATABASE=mongodb_db
MONGODB_COLLECTION_ALL_HOUSES=mongodb_collection_name
NEXT_PUBLIC_CAH=mongodb_collection_name # available in client components
BE_URL=url_to_db
NEXTAUTH_SECRET=nextauth_secret
AUTH_USERNAME=username
AUTH_PASSWORD=password
NEXTAUTH_URL=url_to_page
FLASK_USERNAME=flask_username
FLASK_PASSWORD=flask_pw